@charset "utf-8";

a{
text-decoration:none;
color:black;
}
h1{
font-size:42px;
}
h2{
font-size:26px;
}
h3{
font-size:22px;
padding:6px;
margin-top:8px;
letter-spacing:0.1em;
background-color:rgba(200,120,80,0.6);
width:120px;
text-align:center;
}
h4{
font-size:18px;
padding:2px 0px;
}
body{
font-family: "Arial", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.page{
margin:0 auto;   
max-width:800px;
min-width:500px;
padding:0 10px;
padding-bottom:150px;
}

.sitetitle{
font-size:24px;
color:white;
text-align:center;
margin-top:10px;
padding:20px 0;
}
.backgraund-grass{
background-image:url("../img/grass.jpg");    
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover;
}
.circle{
border-radius:100%;
}

.wellcome{

margin-bottom:10px;
}
.ta-center{
text-align:center;
}
.clear-left{
clear:left;    
}
.dis-title{
width:400px;
margin:10px auto;
letter-spacing:0.6em;
color:white;
}

.discription{

}
.discription-text{
background-color:rgba(255,255,255,0.6);
padding:6px 0;
border-radius:5px;
margin-bottom:20px;
}
.discription-inner{
line-height:1.2em;
padding:10px;
}
.discription-inner h4{
border-bottom:2px solid rgba(200,120,120,0.8);
margin-bottom:6px;

} 
.wellcome{
font-size:20px;
text-align:center;
}
.tab{
clear:left;
}
.tab li{
color:black;
text-align:center;
float:left;
text-decoration:none;
list-style:none;
background-color:rgba(215,215,215,0.4);
border-radius:10px 10px 0 0;
margin-right:2%;
width:32%;
}
.tab li:last-child{
margin-right:0;
}
.tab .tab-now {
background-color:rgba(255,255,255,0.5);
font-weight:bold;
}
.tab a{
display:block;
font-size:20px;
height:20px;
padding:10px 0;
}
.activity{
background-color:rgba(255,255,255,0.5);
padding:20px;

}
.photo{

background-color:rgba(255,255,255,0.5);
padding:20px;
}
.year{
margin:10px 0;
background-color:rgba(255,255,255,0.5);
padding:10px;

}
.photo h2{
margin-bottom:10px;
}
.photo-window{
padding:20px 0;
width:400px;
margin:0 auto;    
}

.photo-select{
height:300px;
background-color:lightblue;    
}
.photo-discription{
font-size:18px;
background-color:rgba(255,255,255,0.6);
padding:6px 20px;
border-radius:5px;
margin:10px 0;
}

.slideshow{
background-color:rgb(0,0,0);
height:300px;
min-width:400px;
overflow:hidden;
position:relative;
}
.slideshow-slides{
height:100%;
position:absolute;
width:100%;
}
.slideshow-slides .slide{
height:100%;
overflow:hidden;
position:absolute;
width:100%;
}
.slideshow-slides .slide img{
left:50%;
margin-left:-200px;
position:absolute;
}
.slideshow-slides .slide .slide-text{
color:rgba(250,250,250,0.7);
font-size:20px;
padding:10px 15px;
background-color:rgba(10,10,10,0.4);
position:absolute;
bottom:0px;
}
.slideshow-nav a,
.slideshow-indicator a{
overflow:hidden;
color:rgba(250,250,250,0.8);
}

.slideshow-nav a:before{
content:"";
display:inline-block;

font-size:80px;
}
.slideshow-indicator a:before{
content:"⚫︎";
display:inline-block;

font-size:40px;

}

.slideshow-nav a{
position:absolute;
left:50%;
width:72px;
height:72px;
margin-top:130px;
font-size:40px;
}
.slideshow-nav a.prev{
margin-left:-180px;
}
.slideshow-nav a.prev:before{
}

.slideshow-nav a.next{
margin-left:160px;
}
.slideshow-nav a.next:before{
}
.slideshow-nav a.disabled{
display:none;
}

.slideshow-indicator{
bottom:20px;
height:30px;
left:0;
position:absolute;
right:0;
text-align:center;
}
.slideshow-indicator a{
display:inline-block;
width:16px;
height:16px;
margin-left:3px;
margin-right:3px;
}
.slideshow-indicator a.active{
cursor:default;   
}
.slideshow-indicator a:before{
margin-left:-110px;
}
.slideshow-indicator a.active:before{
margin-left:-130px;
}



.year h2{
margin-bottom:10px;

}

.link{
padding:8px;
font-size:22px;
background-color:rgba(20,20,20,0.8);
height:140px;
color:rgba(250,250,250,0.8);
position:fixed !important;
position:absolute;
bottom:0;
width:100%;
text-align:center;
}
.link-button{
width:330px;
margin:0 auto;
}
.link a{
font-size:22px;
display:block;
float:left;
padding:6px 10px;
margin:6px 10px;
color:rgba(245,248,250,1);
border-radius:10px;
}
 
.link-twitter{
background-color:rgba(85,172,238,1);
color:rgba(245,248,250,1);
}
.link-blog{
background-color:rgba(220,100,120,0.8);
}
.link-board{
background-color:rgba(30,200,180,0.8);
}

@media screen and (min-width : 600px){
/* ここに768px〜1023pxまでのCSSを記述*/


/*--------------------タブレットとかPCだと以下のCSS--------------------*/
.page{
padding-bottom:60px;
}
.link{
padding:8px;
font-size:18px;
background-color:rgba(20,20,20,0.8);
height:60px;
}